psycopg2==2.8.6
psycopg2-binary
tensorflow==2.9.1
scikit-learn==1.0.2
python-time==0.3.0
sqlalchemy==1.4.32
pandas==1.5.3
keras==2.9.0
pyidaungsu==0.1.4
emoji==2.0.0
regex==2022.3.15
googletrans==4.00rc1
